// Color Variables
$background-color: wheat;
$foreground-color: #fff;
$InvoiceBackgroundColor: #99cc99;
$primary-color: #007bff;
$primary-link-color: #00f;
$primary-color-hover: darken($primary-color, 10%);
$title-color: #333;
$table-header-color: #666;
$table-even-color: #f9f9f9;

$DB-delete-color: #ff0000;
$DB-delete-color-hover: darken($DB-delete-color, 10%);

$pageWidth: 800px;

@media print
{
    .nav, .printInstructions{
        display: none !important;
    }
}

body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

.nav
{
    background-color: $foreground-color;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position:sticky;
    top:4px;
}

.printInstructions
{
    color: $DB-delete-color;
}

.content
{
    max-width: $pageWidth;
    min-width: $pageWidth;
    margin: 50px auto;
    padding: 20px;
    background-color: $foreground-color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .hi1
    {
        color: $title-color;
        margin-bottom: 20px;
    }

    .SaleListColumn
    {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
        gap: 5px;
    }

    table
    {
        width: 100%;
        border-collapse: collapse;

        th, td
        {
            padding: 10px;
            border: 2px solid #ddd;
        }

        th
        {
            background-color: $table-header-color;
            color: $foreground-color;
            position: sticky;
            top: 40px;
        }

        tr:nth-child(even)
        {
            background-color: $table-even-color;
        }

        tr:nth-child(odd)
        {
            background-color: $foreground-color;
        }
    }

button {
        display:inline-block;
        margin: 10px;
        color: #fff;
        text-decoration: none;
        padding: 8px 20px;
        background-color: $primary-color;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover
        {
            background-color: $primary-color-hover;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    a {
        color: $primary-link-color;
        text-decoration: none;
    }

    .dropdown{
        position:relative;
        display:inline-block;
        max-width: 130;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #fafafa;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown:hover .dropdown-content{
        display:block;
    }

    input[type="text"]
    {
        padding: 8px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="number"]
    {
        padding: 8px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    select
    {
        padding: 8px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"]
    {
        padding: 8px 20px;
        background-color: $primary-color;
        color: #FFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover
        {
            background-color: $primary-color-hover;
        }
    }

    .WipeDB {
        background-color: $DB-delete-color;

        &:hover {
            background-color: $DB-delete-color-hover
        }
    }

    .Invoice
    {
        background-color: $InvoiceBackgroundColor;

        p
        {
            margin:0px;
        }

        table
        {
            width: 100%;
            border-collapse: collapse;


            th, td
            {
                padding: 3px;
                border: none;
                background-color: $InvoiceBackgroundColor;
                color: #000;
            }

            th
            {
                text-decoration: underline;
            }
        }

        .date
        {
            text-align: right;
            padding-right: 25px;
        }

        .columns
        {
            display: grid;
            grid-template-columns: 28px 93%;
            padding: 4px;
            gap: 8px;

            .numberedBox
            {
                h1
                {
                    font-size: 20px;
                }
            }

            .contentBox
            {
                border-width: 2px;
                border-style: solid;
                border-color: #000;
                border-radius: 10px;

                text-align: left;
                padding: 10px;

                .identificationBox
                {
                    display: grid;
                    grid-template-columns: auto auto;
                }

                .marketBox
                {
                    display: grid;
                    grid-template-columns: 550px auto;
                    gap: 20px;
                }
            }

            .commission
            {
                text-align: left;
                padding: 0px;
                display: grid;
                grid-template-columns: auto auto auto;
            }

            .packAndWrapBox
            {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;

                input[type='checkbox']
                {
                    width: 20px;
                    height: 20px;
                }

                label
                {
                    vertical-align: center;
                }
            }

            .resaleBox
            {
                display: grid;
                grid-template-columns: 40% 60%;

                p
                {
                    margin-left: 20px;
                }

                .resaleCheckBox
                {
                    display: grid;
                    grid-template-columns: 40% 60%;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 10px;
                }
            }

            .resaleTableBox
            {
                display: grid;
                grid-template-columns: 60% 40%;
            }

            .paymentInstructions
            {
                text-align: left;
                p
                {
                    font-size: 15;
                }

                .paymentDetails
                {
                    margin-top:5px;
                    display: grid;
                    grid-template-columns: 30% 20% 50%;
                    gap: 10px;


                    input[type="text"]
                    {
                        padding:0px;
                        width:50px;
                    }
                }
            }

            .buyersBox
            {
                text-align: left;

                input[type="text"]
                {
                    padding:0px;
                    box-sizing: border-box;
                }
            }

            .signatureBox
            {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}