@media print {
  .nav, .printInstructions {
    display: none !important;
  }
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: wheat;
}

.nav {
  background-color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: sticky;
  top: 4px;
}

.printInstructions {
  color: #ff0000;
}

.content {
  max-width: 800px;
  min-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.content .hi1 {
  color: #333;
  margin-bottom: 20px;
}
.content .SaleListColumn {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  gap: 5px;
}
.content table {
  width: 100%;
  border-collapse: collapse;
}
.content table th, .content table td {
  padding: 10px;
  border: 2px solid #ddd;
}
.content table th {
  background-color: #666;
  color: #fff;
  position: sticky;
  top: 40px;
}
.content table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.content table tr:nth-child(odd) {
  background-color: #fff;
}
.content button {
  display: inline-block;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.content button:hover {
  background-color: rgb(0, 98.4, 204);
}
.content button a {
  color: #fff;
  text-decoration: none;
}
.content a {
  color: #00f;
  text-decoration: none;
}
.content .dropdown {
  position: relative;
  display: inline-block;
  max-width: 130;
}
.content .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.content .dropdown:hover .dropdown-content {
  display: block;
}
.content input[type=text] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content input[type=number] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content select {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content input[type=submit] {
  padding: 8px 20px;
  background-color: #007bff;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.content input[type=submit]:hover {
  background-color: rgb(0, 98.4, 204);
}
.content .WipeDB {
  background-color: #ff0000;
}
.content .WipeDB:hover {
  background-color: #cc0000;
}
.content .block_screen .label_column {
  display: grid;
  grid-template-columns: 7% 93%;
}
.content .block_screen .label_column .seller_info {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-right: 10px;
  gap: 10px;
}
.content .block_screen .label_column .buyer_info {
  display: grid;
  grid-template-columns: 10% 90%;
}
.content .sale_invoices {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 4px;
  gap: 8px;
}
.content .Invoice {
  background-color: #99cc99;
}
.content .Invoice p {
  margin: 0px;
}
.content .Invoice table {
  width: 100%;
  border-collapse: collapse;
}
.content .Invoice table th, .content .Invoice table td {
  padding: 3px;
  border: none;
  background-color: #99cc99;
  color: #000;
}
.content .Invoice table th {
  text-decoration: underline;
}
.content .Invoice .date {
  text-align: right;
  padding-right: 25px;
}
.content .Invoice .columns {
  display: grid;
  grid-template-columns: 28px 93%;
  padding: 4px;
  gap: 8px;
}
.content .Invoice .columns .numberedBox h1 {
  font-size: 20px;
}
.content .Invoice .columns .contentBox {
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}
.content .Invoice .columns .contentBox .identificationBox {
  display: grid;
  grid-template-columns: auto auto;
}
.content .Invoice .columns .contentBox .marketBox {
  display: grid;
  grid-template-columns: 550px auto;
  gap: 20px;
}
.content .Invoice .columns .commission {
  text-align: left;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.content .Invoice .columns .packAndWrapBox {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.content .Invoice .columns .packAndWrapBox input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.content .Invoice .columns .packAndWrapBox label {
  vertical-align: center;
}
.content .Invoice .columns .resaleBox {
  display: grid;
  grid-template-columns: 40% 60%;
}
.content .Invoice .columns .resaleBox p {
  margin-left: 20px;
}
.content .Invoice .columns .resaleBox .resaleCheckBox {
  display: grid;
  grid-template-columns: 40% 60%;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
.content .Invoice .columns .resaleTableBox {
  display: grid;
  grid-template-columns: 60% 40%;
}
.content .Invoice .columns .paymentInstructions {
  text-align: left;
}
.content .Invoice .columns .paymentInstructions p {
  font-size: 15;
}
.content .Invoice .columns .paymentInstructions .paymentDetails {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  gap: 10px;
}
.content .Invoice .columns .paymentInstructions .paymentDetails input[type=text] {
  padding: 0px;
  width: 50px;
}
.content .Invoice .columns .buyersBox {
  text-align: left;
}
.content .Invoice .columns .buyersBox input[type=text] {
  padding: 0px;
  box-sizing: border-box;
}
.content .Invoice .columns .signatureBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}/*# sourceMappingURL=styles.css.map */