{% extends "base.html" %}

{% block head %}
    <title>Animal List</title>
{% endblock %}

{% block body %}
    <h1>Animal List</h1>
    <form actions="animalList" method="POST">
        <label for="exhibitor_id">Exhibitor:</label>
        <select name="exhibitor_id">
            {% for exhibitor in exhibitors %}
            <option value="{{ exhibitor.id }}">{{ exhibitor.fName }} {{ exhibitor.lName }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="Ear_Tag_No">Ear Tag Number:</label>
        <input type="text" name="Ear_Tag_No" placeholder="Animal Ear Tag Number">
        <br>
        <label for="Species">Species:</label>
        <input type="text" name="Species" placeholder="Animal Species" required>
        <br>
        <label for="Weight">Weight (lbs):</label>
        <input type="number" name="Weight" placeholder="Animal Weight (lbs)" required>
        <br>
        <input type="submit" value="Add Animal">
    </form>
    <table>
        <tr>
            <th>Exhibitor</th>
            <th>Ear Tag Number</th>
            <th>Species</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.exhibitor.fName }} {{ animal.exhibitor.lName }}</td>
            <td>{{ animal.ear_tag_number }}</td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.weight }}</td>
            <td>
                <a href="/animalList/edit/{{ animal.id }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>  
{% endblock %}