{% extends "base.html" %}

{% block head %}
<title>Block Screen</title>
{% endblock %}


{% block body %}
    <h1>Block Screen</h1>
    <div class="block_screen">
        <div class="label_column">
            <div><h1>Sale</h1></div>
            <div class="seller_info">
                <div>
                    <h1>
                        {{ exhibitor.sale_number }}
                    </h1>
                </div>
                <div>
                    <p>{{ exhibitor.fName }} {{ exhibitor.lName }}</p>
                    <br>
                    <p>{{ exhibitor.club }}</p>
                    <br>
                    <p>Ear Tag: {{ animal.ear_tag_number }}</p>
                    <br>
                    <p>{{ animal.weight }}lbs      {{ exhibitor.division }}</p>
                </div>
            </div>
            <div><p>Buyer Number 1</p></div>
            <div class="buyer_info">

            </div>
            <div><p>Buyer Number 2</p></div>
            <div class="buyer_info">

            </div>
            <div><p>Buyer Number 3</p></div>
            <div class="buyer_info">

            </div>
            <div><p>Buyer Number 4</p></div>
            <div class="buyer_info">

            </div>
        </div>
    </div>
{% endblock %}