{% extends "base.html" %}

{% block head %}
    <title>Club List</title>
{% endblock %}

{% block body %}
    <h1>Club List</h1>
    <form actions="clubList" method="POST">
        <input type="text" name="Name" placeholder="Club Name" autofocus required>
        <br>
        <input type="submit" value="Add Club">
    </form>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{ club.name }}</td>
            <td>
                <a href="/clubList/delete/{{ club.id }}" onclick="return confirm('Are you sure you want to delete this club?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>  
{% endblock %}