{% extends "base.html" %}

{% block head %}
    <title>Edit Sale</title>
{% endblock %}

{% block body %}
    <h1>Edit Sale</h1>
    <form actions="editSale/{{ sale.id }}" method="POST">
        <label for="animal_id">Animal:</label>
        <select name="animal_id" required>
            <option value="" disabled>Select an animal</option>
            {% for animal in animals %}
            <option value="{{ animal.id }}">{{animal.ear_tag_number}} - {{animal.exhibitor.fName}} {{animal.exhibitor.lName}}</option>
            <hr>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_1">Buyer:</label>
        <select name="buyer_id_1" required>
            <option value="" disabled>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_1 }}" {% if buyer.id == sale.buyer_id_1 %}selected{% endif %}>
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_2">Buyer:</label>
        <select name="buyer_id_2" required>
            <option value="" disabled>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_2 }}" {% if buyer.id == sale.buyer_id_2 %}selected{% endif %}>
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_3">Buyer:</label>
        <select name="buyer_id_3" required>
            <option value="" disabled>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_3 }}" {% if buyer.id == sale.buyer_id_3 %}selected{% endif %}>
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_4">Buyer:</label>
        <select name="buyer_id_4" required>
            <option value="" disabled>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_4 }}" {% if buyer.id == sale.buyer_id_4 %}selected{% endif %}>
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="price">Sale Price:</label>
        <input type="number" step="0.01" name="price" placeholder="Sale Price" value="{{ sale.sale_price }}" required>
        <br>
        <label for="packer">Packer</label>
        <input type="text" name="packer" placeholder="Packer" value="{{ sale.packer }}" required>
        <br>
        <label for="kill_plant">Kill Plant</label>
        <input type="text" name="kill_plant" placeholder="Kill Plant" value="{{ sale.kill_plant }}" required>
        <br>
        <input type="submit" value="Update Sale">
    </form>
{% endblock %}