{% extends "base.html" %}

{% block head %}
    <title>Edit Buyer</title>
{% endblock %}

{% block body %}
    <h1>Edit Buyer</h1>
    <form actions="editBuyer/{{ buyer.id }}" method="POST">
        <label for="fName">First Name:</label>
        <input type="text" name="fName" placeholder="First Name" value="{{ buyer.fName }}" required>
        <br>
        <label for="lName">Last Name:</label>
        <input type="text" name="lName" placeholder="Last Name" value="{{ buyer.lName }}" required>
        <br>
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" placeholder="Buyer Phone Number" value="{{ buyer.phone }}">
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Buyer Address" value="{{ buyer.address }}" required>
        <br>
        <input type="submit" value="Update Buyer">
    </form>
{% endblock %}