{% extends "base.html" %}

{% block head %}
    <title>Edit Buyer</title>
{% endblock %}

{% block body %}
    <h1>Edit Buyer</h1>
    <form actions="editBuyer/{{ buyer.id }}" method="POST">
        <label for="BidderNumber">Bidder Number:</label>
        <input type="text" name="BidderNumber" placeholder="Bidder Number" value="{{ buyer.bidder_number }}" required>
        <br>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Buyer Name" value="{{ buyer.name }}" required>
        <br>
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" placeholder="Buyer Phone Number" value="{{ buyer.phone }}">
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Buyer Address" value="{{ buyer.address }}" required>
        <br>
        <input type="submit" value="Update Buyer">
    </form>
{% endblock %}