{% extends "base.html" %}

{% block title %}
    Edit Exhibitor
{% endblock %}

{% block body %}
    <h1>Edit Exhibitor</h1>
    <form actions="editExhibitor/{{ exhibitor.id }}" method="POST">
        <label for="fName">First Name:</label>
        <input type="text" name="fName" placeholder="First Name" value="{{ exhibitor.fName }}" required>
        <br>
        <label for="lName">Last Name:</label>
        <input type="text" name="lName" placeholder="Last Name" value="{{ exhibitor.lName }}" required>
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Address" value="{{ exhibitor.address }}" required>
        <br>
        <label for="club_id">Club:</label>
        <select name="club_id" required>
            <option value="">Select Club</option>
            {% for club in clubs %}
                <option value="{{ club.id }}" {% if exhibitor.club_id == club.id %}selected{% endif %}>{{ club.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Update Exhibitor">
    </form>
{% endblock %}