{% extends "base.html" %}

{% block head %}
<title>Auction Home</title>
{% endblock %}


{% block body %}
    <h1>Home page</h1>
    <div class="dropdown"> 
        <button>Buyer List</button>
        <div class="dropdown-content">
            <button>
                <a href="/buyerList">View Buyers</a>
            </button>
            <br>
            <button>
                <a href="/buyerList">View Sale Buyers</a>
            </button>
        </div>
    </div>
    <button>
        <a href="/clubList">View Clubs</a>
    </button>
    <button>
        <a href="/exhibitorList">View Exhibitors</a>
    </button>
    <br>
    <button>
        <a href="/animalList">View Animals</a>
    </button>
    <button>
        <a href="/saleList">View Sales</a>
    </button>
    <button>
        <a href="/addonList">View Addons</a>
    </button>
    <br>
    <button>
        <a href = "/importData">Import Data</a>
    </button>
{% endblock %}