{% extends "base.html" %}

{% block head %}
    <title>Sale Invoice</title>
{% endblock %}

{% block body %}
    <div class="Invoice">
        <div class="date">
            date
        </div>
        <div class="columns">
            <div class="numberedBox"></div>
            <div class="contentBox">
                <div class="identificationBox">
                    <div>
                        Seller: --Name--
                    </div>
                    <div>
                        Club: --Club--
                    </div>
                </div>
            </div>

            <div class="numberedBox">
                <h1>
                    1
                </h1>
            </div>
            <div class="contentBox">
                <div class="marketBox">
                    <table>
                        <tr>
                            <th>sale #</th>
                            <th>Description</th>
                            <th>Ear Tag</th>
                            <th>Weight</th>
                            <th>Price per Lb</th>
                            <th>Amount Due</th>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>e</td>
                            <td>f</td>
                        </tr>
                    </table>

                <p style="text-decoration: underline;">
                    Please pay this amount if you are not sending the animal to Resale
                </p>
                </div>
            </div>

            <div class="numberedBox"></div>
            <div class="commission">
                <p>commission: $--dolars--</p>
                <p style="font-weight: bold;">Non-Profit Tax I.D. # <span style="font-size: 15px;">47-4625986</span></p>
                <p style="font-weight: bold;">$$ to youth: $--dolars--</p>
            </div>

            <div class="numberedBox">
                <h1>
                    2
                </h1>
                <br>
                <br>
                <p>OR</p>
            </div>
            <div class="contentBox">
                <p>The animal is to be cut and wrapped by: Please check <span style="font-weight: bold;">CHECK ONLY ONE</span></p>
                <div class="packAndWrapBox">
                    <div>
                        <input type="checkbox" name="box1">
                        <label for="box1">first</label>
                    </div>
                    <div>
                        <input type="checkbox" name="box2">
                        <label for="box2">second</label>
                    </div>
                    <div>
                        <input type="checkbox" name="box3">
                        <label for="box3">third</label>
                    </div>
                    <div>
                        <input type="checkbox" name="box4">
                        <label for="box4">fourth</label>
                    </div>
                </div>
                <br>
                <p>Contact Name ________________________________________________________________</p>
                <br>
                <p>Contact Number ______________________________________________________________</p>
            </div>

            <div class="numberedBox">
                <h1>
                    3
                </h1>
            </div>
            <div class="contentBox">
                <div class="resaleBox">
                    <div class="resaleCheckBox">
                        <div>
                            <input type="checkbox" style="width: 70px; height: 30px;"/>
                            <br>
                            <label style="font-size: 20px; font-weight: bold;">RESALE</label>
                        </div>
                        <p style="font-size: 18; font-weight: bold;">Check here if you do not want to keep the meat</p>
                    </div>
                    <div>
                        <p>The resale price is the market value. Totals above that amount are considered a donation and my be tax deductable</p>
                        <p style="font-weight: bold;">Non-Profit Tax I.D. # <span style="font-size: 15px;">47-4625986</span></p>
                    </div>

                </div>
                <div class="resaleTableBox">
                    <div>
                        <table>
                            <tr>
                                <th>Resale Price</th>
                                <th>Less Resale</th>
                                <th>Amount Due</th>
                            </tr>
                            <tr>
                                <td>$dolars per lb</td>
                                <td>$money</td>
                                <td>total</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p style="text-decoration: underline;">Please pay this amount only if you <span style="font-weight: bold;">ARE</span> sending the animal to <span style="font-weight: bold;">RESALE</span></p>
                    </div>
                </div>
            </div>

            <div class="numberedBox">
                <h1>

                </h1>
            </div>
            <div class="paymentInstructions">
                <p>Please pay from this invoice, statement issued only on request (include EAR TAG # on check).</p>
                <p style="font-weight: bold;"><span style="text-decoration: underline;">Make check payable to:</span><span style="padding-left: 40px;">Grant County Youth Livestock Auction</span></p>
                <div class="paymentDetails">
                    <div>
                    <table>
                        <tr>
                            <th style="width:25%;">Resale Price</th>
                            <th style="width:50%;"/>
                            <th style="width:25%;">Ear Tag</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Sale No." value="1" style="box-sizing: border-box;"/>
                            </td>
                            <td/>
                            <td>
                                <input type="text" placeholder="Ear Tag No." value="1" style="box-sizing: border-box;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 12px; text-decoration: underline; text-align: right;">Price</p>
                            </td>
                            <td>
                                <label>$</label>
                                <input type="text" placeholder="Price" value="15.50" style="box-sizing: border-box;"/>
                            </td>
                            <td/>
                        </tr>
                    </table>
                    </div>
                    <div>
                        <p style="font-size: 15;">Address:</p>
                        <p style="font-size: 15; font-weight: bold;">P.O.Box 921 </p>
                        <p style="font-size: 15; font-weight: bold;">John Day, OR 97845</p>
                    </div>
                    <div>
                        <label for="billingComments">Billing Comments</label>
                        <input name="billingComments" type="text" placeholder="Billing Comments" style="width: 200px;">
                        <br>
                        <label for="resaleCode">Resale Code</label>
                        <input name="resaleCode" type="text" placeholder="Resale Code" style="width: 200px; margin-left: 27px;">
                        <br>
                        <label for="weight">Weight</label>
                        <input  name="weight" type="text" placeholder="Weight" style="width: 200px; margin-left: 55px;">
                    </div>
                </div>
            </div>

            <div class="numberedBox">
                <h1>
                    4
                </h1>
            </div>
            <div class="contentBox">
                <div class="buyersBox">
                    <table>
                        <tr>
                            <th style="width: 9%;"></th>
                            <th style="width: 7%;">Buyer #</th>
                            <th style="width: 34%;">Buyer Name</th>
                            <th style="width: 50%;">Buyer Address</th>
                        </tr>
                        <tr>
                            <td>
                                <p>Buyer 1</p>
                            </td>
                            <td>
                                <input type="text" style="width: 45px;">
                            </td>
                            <td>
                                <input type="text" style="width: 250px;">
                            </td>
                            <td>
                                <input type="text" style="width: 350px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Buyer 2</p>
                            </td>
                            <td>
                                <input type="text" style="width: 45px;">
                            </td>
                            <td>
                                <input type="text" style="width: 250px;">
                            </td>
                            <td>
                                <input type="text" style="width: 350px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Buyer 3</p>
                            </td>
                            <td>
                                <input type="text" style="width: 45px;">
                            </td>
                            <td>
                                <input type="text" style="width: 250px;">
                            </td>
                            <td>
                                <input type="text" style="width: 350px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Buyer 4</p>
                            </td>
                            <td>
                                <input type="text" style="width: 45px;">
                            </td>
                            <td>
                                <input type="text" style="width: 250px;">
                            </td>
                            <td>
                                <input type="text" style="width: 350px;">
                            </td>
                        </tr>
                    </table>
                    <input type="text" style="width: 100px; display: inline-block;" >
                    <p style="display: inline-block;">New Buyer</p>
                    <input type="text" style="width: 547px; display: inline-block;">
                    <input type="text" style="width: 708px;">
                    <p style="font-weight: bold; text-align: center;">THIS IS A TERMINAL SALE. ALL ANIMALS MUST BE SLAUGHTERED WITHIN 30 DAYS</p>
                </div>
                <div class="signatureBox">
                    <p style="font-weight: bold; font-size: 15px;margin-top: 10px;">Signature __________________________________</p>
                    <p>I certify tht I am authorized to sign for this purchase & accept responsibility for payment/collection of the amount</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}