{% extends "base.html" %}

{% block head %}
    <title>Sale List</title>
{% endblock %}

{% block body %}
    <h1>Sale List</h1>
    <form actions="saleList" method="POST">
        <label for="animal_id">Animal:</label>
        <select name="animal_id" required>
            <option value="" disabled selected>Select an animal</option>
            {% for animal in animals %}
            <option value="{{ animal.id }}">Ear tag: {{animal.ear_tag_number}}</option>
            <option disabled>{{ animal.species }}</option>
            <option disabled>Exhibitor: {{animal.exhibitor.fName}} {{animal.exhibitor.lName}}</option>
            <hr>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_1">Buyer:</label>
        <select name="buyer_id_1" required>
            <option value="" disabled selected>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_1 }}">
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_2">Buyer:</label>
        <select name="buyer_id_2">
            <option value="" disabled selected>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_2 }}">
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_3">Buyer:</label>
        <select name="buyer_id_3">
            <option value="" disabled selected>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_3 }}">
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="buyer_id_4">Buyer:</label>
        <select name="buyer_id_4">
            <option value="" disabled selected>Select a buyer</option>
            {% for buyer in buyers %}
            <option value="{{ buyer.id_4 }}">
                {{ buyer.bidder_number }} - {{ buyer.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="price">Sale Price:</label>
        <input type="number" step="0.01" name="price" placeholder="Sale Price" required>
        <br><label for="packer">Packer</label>
        <input type="text" name="packer" placeholder="Packer" required>
        <br>
        <label for="kill_plant">Kill Plant</label>
        <input type="text" name="kill_plant" placeholder="Kill Plant" required>
        <br>
        <input type="submit" value="Add Sale">
    </form>
    <table>
        <tr>
            <th>Animal Name</th>
            <th>Animal Ear Tag Number</th>
            <th>Exhibitor Name</th>
            <th>Buyer Name</th>
            <th>Price Per Pound</th>
            <th>Animal Weight</th>
            <th>Sale Price</th>
            <th>Actions</th>
        </tr>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.animal.name }}</td>
            <td>{{ sale.animal.ear_tag_number }}</td>
            <td>{{ sale.animal.exhibitor.fName }} {{ sale.animal.exhibitor.lName }}</td>
            <td>{{ sale.buyer.fName }} {{ sale.buyer.lName }}</td>
            <td>{{ sale.sale_price }}</td>
            <td>{{ sale.animal.weight }}</td>
            <td>{{ sale.sale_price * sale.animal.weight }}</td>
            <td>
                <a href="/saleList/edit/{{ sale.id }}">Edit</a> 
            </td>
        </tr>
        {% endfor %}
    </table>

    
{% endblock %}